@import url(https://fonts.googleapis.com/css?family=Roboto:500);

.login-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 30%;
  padding: 24px;
  display: grid;
  grid-template: "auto";
  gap: 48px;
}

.login-big-icon-wrapper {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #f1d00a;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
}

.login-big-icon {
  width: 40px;
  height: 40px;
}

.login-button {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

.login-button:hover {
  box-shadow: 0 0 6px #4285f4;
}

.login-button-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-button-icon {
  width: 18px;
  height: 18px;
}
.login-button-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}
